BINANCE_TESTNET_API_KEY=replace_me
BINANCE_TESTNET_SECRET_KEY=replace_me
TESTNET_MASTER_KEY=replace_me
INTERNAL_API_KEY=replace_me
TESTNET_USER_NAME=testnet-admin
TESTNET_ACCOUNT_LABEL=binance-testnet
TESTNET_SYMBOL=BTC/USDT
