name: docs-lint

on:
  push:
  pull_request:

jobs:
  markdown:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint markdown
        uses: avto-dev/markdown-lint@v1
        with:
          config: '{"default": true}'
